#website {
  width: 75%;
  display: inline-block;
}

#website input {
  width: 100%;
}

.featurette-image {
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
  margin-top: 20px;
}

.study-progress {
  width: 50%;
  margin: 0 auto;
}

.study-progress .progress {
  margin-top: 20px;
}

.panel .social {
  width: 500px;
  float: right;
  text-align: right;
  margin-top: -18px;
}
